<div class="home">
  <div class="container">
    <form
      #adPost="ngForm"
      (ngSubmit)="createpost()"
      class="frm"
      enctype="multipart/form-data"
    >
      <h1 style="color: rgb(233, 17, 17); font-size: bold">
        Create your post..
      </h1>
      <div>
        <label for="title">Title :</label>&nbsp;
        <input
          type="text"
          name="name"
          id="name"
          required
          class="form-control"
          #title="ngModel"
          [(ngModel)]="posts.title"
        />
      </div>
      <div>
        <label for="file">Image :</label>&nbsp;
        <input
          type="file"
          class="form-control-file"
          name="image"
          [(ngModel)]="posts.image"
          #image="ngModel"
          (change)="selectImage($event)"
          required
        />
      </div>

      <label for="description">Description :</label>
      <ckeditor
        #editor
        id="description"
        name="description"
        required
        class="form-control"
        #file="ngModel"
        [(ngModel)]="posts.description"
      >
      </ckeditor>
      <br />
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>

<footer>
  <p>Copyright &copy; 2022 ICT Academy of Kerala All Rights Reserved.</p>
</footer>
