*{
    text-decoration: none;
  }
mat-sidenav{
    background-color: #0F172A;
    width:230px;
    height: 100%;
  }
mat-sidenav-content{
    height:100vh;
  }
  .main{
    margin-left: 30px;
  }
mat-toolbar{
    color: gray;
  }
.box{
    margin-top: 15px;
  }
.box mat-icon{
    justify-content:right;
  }
  
.tp-container {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: #eee;
  }
.tp-section mat-icon{
     color:white;
  }
.tp-section span{
     color:white;
  }
.tp-section {
     display: flex;
     align-content: center;
     align-items: center;
     width:100%;   
  }
.settings-icon{
     justify-content: space-between;
  }
  