<nav class="navbar navbar-expand-lg navbar-light bg-nav">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item mr-5 mt-2 navlink"><a routerLink="/"> Home </a></li>
      <li class="nav-item dropdown">
        <a
          class="nav-link mr-5"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Categories
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a
            class="dropdown-item"
            *ngFor="let cat of categories"
            [routerLink]="routeLink + cat._id"
            >{{ cat.blogCategory }}</a
          >
        </div>
      </li>
      <li class="nav-item mr-5 mt-2 navlink">
        <a routerLink="/login"> LogIn </a>
      </li>
      <li class="nav-item mr-5 mt-2 navlink">
        <a routerLink="/signup"> SignUp </a>
      </li>
    </ul>
  </div>
</nav>
<div class="bg-body">
  <br /><br />
  <div class="text-center head">ALL BLOGS</div>
  <div class="container bg mt-5">
    <div *ngFor="let i of posts">
      <div class="card">
        <img
          [src]="i.image"
          alt=""
          height="400px"
          width="100%"
          style="border-top-right-radius: 30px"
        />
        <div class="card-body">
          <div class="card-content">
            <h2 class="card-title">
              {{ i.title }}
            </h2>
            <p class="card-text">
              {{ i.date1 }}
            </p>
            <a
              routerLink="/singleviewpage"
              (click)="singleBlog(i)"
              style="margin-top: 2%; cursor: pointer"
              ><button class="btn btn-sm">Read More...</button></a
            >
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </div>
</div>
<footer>
  <div class="copyright-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>
              Copyright &copy;2022 ICT Academy of Kerala. All rights reserved.
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/footer">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
