<nav class="navbar navbar-expand-lg navbar-light bg-nav">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <!-- <a class="navbar-brand" href="#"><img src="../../../assets/images/techblog-logo-header.png" alt=""></a> -->
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item mr-5 mt-2 navlink"><a routerLink="/"> Home </a></li>
      <li class="nav-item mr-5 mt-2 navlink">
        <a routerLink="/singlepage"> All blogs</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link mr-5"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a
            class="dropdown-item"
            *ngFor="let cat of categories"
            [routerLink]="routeLink + cat._id"
            >{{ cat.blogCategory }}</a
          >
        </div>
      </li>
      <!--  <li  class="nav-item mr-3 mt-2 navlink"><a routerLink="/">Logout</a></li> -->
      <li class="nav-item mr-5 mt-2 navlink">
        <a routerLink="/login"> LogIn </a>
      </li>
      <li class="nav-item mr-5 mt-2 navlink">
        <a routerLink="/signup"> SignUp </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container text-center box">
  <div class="card">
    <div class="card-header">
      <div class="para">{{ Blogs.title }}<br /></div>
      <p>Posted By : {{ Blogs.authorname }}<br /></p>
      <p>{{ Blogs.date1 }}<br /></p>
    </div>
    <div class="card-body">
      <img [src]="Blogs.image" alt="" height="600px" width="100%" />

      {{ Blogs.description }}
    </div>
  </div>
</div>

<footer>
  <div class="copyright-area mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>
              Copyright &copy;2022 ICT Academy of Kerala. All rights reserved.
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/footer">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
