<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-6 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>
                GF-1 Thejaswini Building, Technopark Rd <br />
                Thiruvananthapuram</span
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-3 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>9400063498</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-3 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>

            <div class="cta-text">
              <h4>Mail us</h4>
              <span>ictak@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a routetLink=""
                ><img [src]="url" class="img-fluid" alt="logo"
              /></a>
            </div>
            <div class="footer-text">
              <p>
                GF-1 Thejaswini Building, Technopark Rd <br />
                Thiruvananthapuram, Kerala 695581<br />

                ICT Academy of Kerala is supported by Govt. of India , partnered
                by Govt. of Kerala and the IT industry..
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="/ictk">ICTK Events</a></li>
              <li><a routerLink="/ictk">KKEM</a></li>
              <li><a routerLink="/footer">Contact</a></li>
              <li><a href="/signup">For Register</a></li>
              <li><a href="/login">For Login</a></li>
            </ul>
          </div>
          <div class="footer-social-icon">
            <br />
            <div class="footer-widget-heading">
              <h3>Follow Us</h3>
            </div>
            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>
              Copyright &copy;2022 ICT Academy of Kerala. All rights reserved.
            </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/">Terms</a></li>
              <li><a routerLink="/">Privacy</a></li>
              <li><a routerLink="/">Policy</a></li>
              <li><a routerLink="/footer">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
