.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
.id{
  height:600px;  
  background-image: url("../../../assets/images/Project_79-02.jpg");    
  background-size:cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.id:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(7, 7, 7, 0.7);
}
.centering{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mat-card{
  padding: 30px;
}
h1{
  text-align: center;
  color: #ff666f;;
}
a{
  color: black;
}
a:hover{
  color: blue;
  text-decoration: none;
  
}
  
.mat-card{
  background-color:whitesmoke;
  border: 2px solid rgb(236, 77, 141);
  border-radius: .5rem;
}
.mat-form-field{
  width: 100%;
}
.radio{
  font-size: small;
}