.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  overflow: hidden;
  }
.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
  }
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
  }
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
  }
  
.portfolio-modal .btn-close {
  color: #1abc9c;
  font-size: 2rem;
  padding: 1rem;
  }
.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
  }
@media (min-width: 992px) {
.portfolio-modal .portfolio-modal-title {
  font-size: 3rem;
  line-height: 2.5rem;
    }
  }
.portfolio{
  background: rgba(9,105,125,1);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  background-color:rgba(26, 167, 198, 0.525);
  transform: scale(1.1);
}
.zoom{
  transition: transform .2s;
}
.zoom:hover{
  transform: scale(1.2);
}

.page-section-heading{
  font-size:40px;
  color: white;
}
.img{
  width:100%;
  height:400px;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
  background-color: red;
  margin-right: -140px;
}
.carousel-control-prev-icon{
  margin-right: 140px;
}