<div class="form">
  <h2>Categories</h2>
  <form
    [formGroup]="blogcategoryForm"
    (ngSubmit)="onsubmitblogcategory(blogcategoryForm.value)"
  >
    <mat-form-field appearance="fill">
      <mat-label>Category Name</mat-label>
      <input matInput formControlName="blogCategory" /> </mat-form-field
    ><br />
    <button
      class="btn"
      mat-raised-button
      color="accent"
      [disabled]="!blogcategoryForm.valid"
    >
      Submit
    </button>
  </form>
</div>
<div class="main-content">
  <div class="container mt-5">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Category List</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Sl. No.</th>
                  <th scope="col">Category Name</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cat of categories; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ cat.blogCategory }}</td>
                  <td class="text-right">
                    <button
                      type="submit"
                      class="btn btn-danger"
                      (click)="deletePost(cat)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <p>Copyright &copy; 2022 ICT Academy of Kerala All Rights Reserved.</p>
</footer>
