<div class="id">
  <div class="container">
    <div class="form1">
      <h1>ChangePassword!</h1>
      <form
        [formGroup]="changePwdForm"
        (ngSubmit)="changePwd(changePwdForm.value)"
      >
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            matInput
            placeholder="Enter your password"
            [type]="pwdHide2 ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="pwdHide2 = !pwdHide2"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="pwdHide2"
          >
            <mat-icon>{{
              pwdHide2 ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="changePwdForm.controls['password'].hasError('minlength')"
          >
            Your password must be at least 5 characters long.</mat-error
          >
          <mat-error
            *ngIf="passwordChange?.['password']?.errors?.['required'] && submittedChangePwd"
            >Required password</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            placeholder="Enter your password"
            [type]="pwdHide3 ? 'password' : 'text'"
            formControlName="confirmpassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="pwdHide3 = !pwdHide3"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="pwdHide3"
          >
            <mat-icon>{{
              pwdHide3 ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="passwordChange?.['confirmpassword']?.errors?.['passwordMismatch']"
            >Password mismatch</mat-error
          >
        </mat-form-field>
        <mat-dialog-actions class="centering">
          <button
            class="btn"
            mat-raised-button
            color="accent"
            [disabled]="!changePwdForm.valid"
          >
            Submit
          </button>
        </mat-dialog-actions>
      </form>
    </div>
  </div>
</div>
<footer>
  <p>Copyright &copy; 2022 ICT Academy of Kerala All Rights Reserved.</p>
</footer>
