<div class="container mb-5">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="card-body text-center bg-orange">
        <a routerLink="/trainernavbar/trainerhome"
          ><i class="fa-solid fa-square-plus"></i
        ></a>
      </div>
      <div class="card-footer bg-footer">
        <h2><a routerLink="/trainernavbar/trainerhome">create Blog</a></h2>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card-body text-center bg-purple">
        <a routerLink="/trainernavbar/trainerviewblogs"
          ><i class="fa-solid fa-rectangle-list"></i
        ></a>
      </div>
      <div class="card-footer bg-footer">
        <h2><a routerLink="/trainernavbar/trainerviewblogs">View Blogs</a></h2>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="card-body text-center bg-green">
        <a routerLink="/trainernavbar/trainerChangePwd"
          ><i class="fa-solid fa-unlock-keyhole"></i
        ></a>
      </div>
      <div class="card-footer bg-footer">
        <h2>
          <a routerLink="/trainernavbar/trainerChangePwd">Change Password</a>
        </h2>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card-body text-center bg-navyblue">
        <a routerLink="/"> <i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
      <div class="card-footer bg-footer">
        <h2><a routerLink="/">Logout</a></h2>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<footer>
  <p>Copyright &copy; 2022 ICT Academy of Kerala All Rights Reserved.</p>
</footer>
