<div class="home">
  <div class="container">
    <form #form="ngForm" (ngSubmit)="editPost()">
      <h1 style="color: rgb(233, 17, 17); font-size: bold">
        Make your posts..
      </h1>

      <div>
        <label for="title">Title :</label>&nbsp;
        <input
          type="text"
          name="name"
          id="name"
          required
          class="form-control"
          #title="ngModel"
          [(ngModel)]="Blogs.title"
        />
      </div>
      <div>
        <div>
          <label for="file">Image :</label>&nbsp;
          <input
            type="file"
            class="form-control-file"
            name="image"
            [(ngModel)]="Blogs.image"
            #image="ngModel"
            (change)="selectImage($event)"
            required
          />
        </div>
      </div>
      <label for="description">Description :</label>

      <ckeditor
        #editor
        id="description"
        name="description"
        required
        class="form-control"
        #file="ngModel"
        [(ngModel)]="Blogs.description"
      >
      </ckeditor>

      <br />
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
<br /><br /><br />

<footer>
  <p>Copyright &copy; 2022 ICT Academy of Kerala All Rights Reserved.</p>
</footer>
