.padding{
    margin-left: 10px;
    margin-top: 10px;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}
  
.example-radio-button {
    margin: 5px;
}
.commonstyle{
    font-size:large;
    color:deeppink;
}
.db{
    color: black;
}
.butn:hover{
    transition: all 0.5s ease-in;
      border-top-right-radius: 25px;
      cursor: pointer;
}
.card-header{
    text-align: center;
    font-weight:550;
    color: #ff666f;
}

p{
    text-align: left;
    line-height: 1cm;
    color:maroon;
}
.card{
    border: none;
}
img{
    padding-bottom: 30px;
}
h2{
    color:orangered;
}
.date{
    text-align: center;
    font-style: italic;
}
#example-radio-group-label{
    color: red;
}
h4{
    color: blue;
}
mat-card{
    border: 3px solid bisque;
}