<mat-card>
  <h2 class="text-center">{{ title }}</h2>
  <p class="date">{{ date }}</p>
  <img [src]="image" alt="" height="500px" width="100%" />
  <p>{{ description }}</p>
  <mat-card>
    <mat-card-content>
      <section class="example-section">
        <label id="example-radio-group-label"
          >Is sexual or adult only contents?</label
        >
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="optionArray1"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of options"
            [value]="option"
          >
            {{ option }}
          </mat-radio-button>
        </mat-radio-group>
      </section>
      <section class="example-section">
        <label id="example-radio-group-label"
          >Is political or religious contents?</label
        >
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="optionArray2"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of options"
            [value]="option"
          >
            {{ option }}
          </mat-radio-button>
        </mat-radio-group>
      </section>
      <section class="example-section">
        <label id="example-radio-group-label"
          >Is multi-level marketing or product promotion?</label
        >
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="optionArray3"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of options"
            [value]="option"
          >
            {{ option }}
          </mat-radio-button>
        </mat-radio-group>
        <h4>Select category</h4>
        <mat-form-field appearance="fill">
          <mat-label>Blog category</mat-label>
          <mat-select [(value)]="selected">
            <mat-option *ngFor="let cat of categories" [value]="cat._id">
              {{ cat.blogCategory }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </mat-card-content>
  </mat-card>

  <div class="dropdown">
    <button
      class="btn btn-success btn-sm padding"
      (click)="approveBlog(selected)"
      [disabled]="!selected || !optionArray1 || !optionArray2 || !optionArray3"
    >
      Approve
    </button>
    <button
      class="btn btn-danger btn-sm padding"
      (click)="rejectBlog()"
      [disabled]="!optionArray1 || !optionArray2 || !optionArray3"
    >
      Reject
    </button>
  </div>
</mat-card>
