.topmargin{
    margin-top: 17%;
    }
.id{
    margin-top: 10px;
    margin-left: 13px;
    }
    
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    }
.centering{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.mat-card{
    padding: 30px;
    }
h1{
    text-align: center;
    color: #ff666f;;
  }
      
.mat-card{
    background-color:whitesmoke;
    border: 2px solid rgb(236, 77, 141);
    border-radius: .5rem;
  }
.mat-form-field{
    width: 100%;
  }
          /* footer */
          
footer{
    background-color:rgb(244, 235, 235);
    margin-left: -30px;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
            
  }
  footer p {
    padding:20px 0;
    text-align: center;
    color: gray;
    padding-right:200px;
            
  }
  footer img {
    width: 44px;
  }
          